:root{
  --theme-color: #34c94b;
  --dark-color: #121212;
  --light-color: #ffffff;
}
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'poppins', sans-serif;
  background-color: var(--dark-color);
  /* overflow-x: hidden !important; */
}
*,*::after,*::before{
  box-sizing: border-box;

}
.d-flex{
  display: flex;
}
/* to avoid blue layer in mobile devices */
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);

}
a:focus,a:visited,a:active{
  outline: none;
}
* {
    -webkit-tap-highlight-color: transparent;
}
.swiper-slide{
  width: min-content !important;
}