:root{
  --theme-color: #34c94b;
  --dark-color: #121212;
  --light-color: #ffffff;
}
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'poppins', sans-serif;
  background-color: var(--dark-color);
}
*,*::after,*::before{
  box-sizing: border-box;

}
.d-flex{
  display: flex;
}