.grid-main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 32px;
    user-select: none;
    -webkit-user-select: none;
    /* border: 2px solid red; */
}
.grid-category{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
    line-height: 0;
}
.filter-section{
    display: flex;
    gap: 28px;
    justify-content: space-between;
    width: fit-content;
    color: var(--light-color);
    margin: 16px 0 16px 0;
    font-size: 16px;
    font-weight: 600;
}
.grid-category h3{
    color: var(--light-color);
    font-size: 20px;
}
.grid-category button{
    color: var(--theme-color);
    background: transparent;
    border: none;
    font-size: 20px;
    font-weight: 600;
}

.grid-contents{
    display: inline-flex ;
    overflow: hidden ;
    gap: 20px;
    flex-wrap:wrap ;
    justify-content: center;
    align-items: center;
    /* height: 300px; */
    width: 100%;
}
.swiper-slide-custom{
    max-width: 100vw;
}

.Collapse{
    height: fit-content;
}
.card-main{
    display: flex;
    align-items: flex-start;
    flex: 0 0 auto;
}