 .navbar-main {
    background-color: var(--theme-color);
    width: 100%;
    height: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0;
    overflow: hidden;
    /* border: 2px solid red; */
}
.nav-contents{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 32px;
    /* border: 2px solid yellow; */
    max-height:50px;
    position: relative;
}
.feedback-btn{
    background-color: var(--dark-color);
    color: var(--theme-color);
    border: 1px solid var(--theme-color);
    padding: 10px 16px;
    border-radius: 12px;
    font-family: 'poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    /* flex: 2 0 170px; */
    
    /* position: absolute;
    right: 0;
    top: 0; */
   
}
.feedback-btn:active{
    background-color: rgba(105, 105, 105, 0.575);
}
@media only screen and (max-width: 714px ) {
    .feedback-btn{
        font-size: 12px;
        line-height: 12px;
        width: min-content;
    }
}
@media only screen and (max-width: 410px ) {
    .nav-contents{
        margin:0 1px;
        
    }   
}